

.productCart:hover .textPart{
    
    transform: translateY(-1rem);
    scale: 1.05;
}




.productCart:hover {
    box-shadow: 0 20px 50px hsla(205, 5%, 48%, 0.7); /* Adds a shadow around the card on hover */
}


.productCart:hover .font-semibold {
   
    transform: translateY(-1rem); 
    scale: 1.05; 
    
}
.productCart:hover .object-cover {
    transform: translateY(-1rem);
    scale:1.05;
}
